@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,600&display=swap');

:root{
    --red: #ff3838;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: normal;
    transition: all .2s linear;
}
*::selection{
    background: var(--red);
    color: #fff;
}
html {
    font-size: 62.5%;
    overflow: hidden;
}
body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #58459F;
    padding: 5.5rem;
}
section {
    padding: 1rem 7%;
    min-height: 100%;
}
h2{
    padding: 2rem; 
    font-weight: bold;
}
.btn {
    font-size: 2rem;
    padding: .7rem 4rem;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 1rem;
    box-shadow:  0 1rem 2rem rgba(0, 0, 0, .2);
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s linear;
}
.btn:hover {
    background: rgba(0, 0, 0, .5);
    color: #555;
}
.heading {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
}
header{
    width: 35rem;
    height: 54rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(4.rem);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}
header .social {
    margin: 40px 0px;
}

header .navbar {
    padding: 1rem 3rem;
}
header .navbar ul li{
    margin: 2rem 0;
    list-style: none;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background:rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem; 
}
header .navbar ul li a:hover{
   background:rgba(0, 0, 0, 0.5);
   color: #555; 
   transition: none;
}

.container {
    height: 54rem;
    width: 80rem;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    overflow: hidden; 
}
.home {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
}
.home h3{
    font-size: 3rem;
    font-weight: normal;
    color: #eee;
    line-height: 1.7;
    text-align: center;
}
.home span {
    color: #eee;
    font-weight: bold;
}
.home .btn{
   width: 250px;
   height: 50px;
   margin: 40px 0px ;
}
.home .post {
    padding: 1rem 0;
}

.user {
    margin: 40px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .2);
}
.user .user-img{
    border-radius: 50%;
    background-image: url(../img/download.jpg);
    width: 120px;
    height: 120px;
    background-position: initial;
    background-size: cover;
}
 .share {
     display : flex;
     list-style: none;
     text-align: center;
     justify-content: center;
   /* position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transition: .2s linear;*/
}
.share a{
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    margin: 1rem;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
}
 .share a:hover{
    background: rgba(255, 255, 255, .5);
    color: #555;
}

/* About */
.about {
    min-height: 100%;
}
.about h2{
    padding: 2rem; 
    font-weight: bold;
}
.about .content h6{
    color: #eee;
    font-size: 2rem;
}
.about .content h3  {
    color: #fff;
    font-size: 2rem;
}
.about .content p{
    font-size: 1.5rem;
    line-height: 1.7;
    color: #eee;
    padding: .5rem 0;
}
.about .skills{
    padding: 1rem 0;
}
.about .skills .progress {
    margin: 1.5rem 0;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .2);
    border-radius: 1rem;
}
.about .skills .progress h3{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
}
.about .skills .progress .bar{
    position: relative;
    width: 100%;
    height: .3rem;
    margin: 1rem 0;
    background: #555;
}
.about .skills .progress .bar span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}
.about .skills .progress:nth-child(1) .bar span{
    width: 95%;
}
.about .skills .progress:nth-child(2) .bar span{
    width: 85%;
}
.about .skills .progress:nth-child(3) .bar span{
    width: 65%;
}
.about .skills .progress:nth-child(4) .bar span{
    width: 45%;
}


/* services */
.service {
   min-height: 100%;
}
.service h2{
    padding: 2rem; 
    font-weight: bold;
}
.service .box-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service .box-container .box{
    margin: 1rem;
    padding: 1.3rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .2);
    text-align: center;
    width: 32rem;
}
.service .box-container .box i{
  color: #fff;
  font-size: 4.5rem;
  padding: 1rem 0;
}
.service .box-container .box p{
    color: #eee;
    font-size: 1.7rem;
    font-weight: normal;
    padding: .5rem 5rem;
}

/* education */

.education .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.education .box-container .box{
    width: 30rem;
    padding: 0 2rem;
    padding-bottom: 4rem;
    border-left: .2rem solid #eee;
}
.education .box-container .box .year{
    font-size: 2rem;
    color: #eee;
    position: relative;
} 
.education .box-container .box .year::before{
    content: '';
    position: absolute;
    top: .3rem;
    left: -3.1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #ffff;
}
.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1rem;
}
.education .box-container .box p{
    font-size: 1.3rem;
    color: #eee;
    padding: 1rem 0;
}

/* contact */

.contact .row{
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    align-items: center;
}
.contact .row form{
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    border-radius: 1rem;
}
.contact .row form .box{
    background: rgba(255 ,255, 255, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
    height: 4rem;
    width: 49%;
    font-size: 1.7rem;
    color: #fff; 
    text-transform: none;
}
.content .row form .box::placeholder{
    text-transform: capitalize;
    color: #eee;
}
.contact .row form #message{
    padding: 1rem;
    height: 15rem !important;
    resize: none;
    width: 100%;
}
.contact .row form .btn{
    margin-bottom: 1rem;
} 
.contact .row .content{
    padding: 0 5rem;
}
.contact .row .content .icons{
    padding: 1rem 0;
}
.contact .row .content .icons h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #eee;
    display: flex;
}
.contact .row .content .icons h3 i{
    padding-right: .5rem;
}
.contact .row .content .icons p{
    font-size: 1.5rem;
    color: #eee;
}


/* theme toggler*/

.theme-toggler{
    background: rgba(255, 255, 255 .2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.2);
    border-radius: 1rem;
    backdrop-filter: blur(.4rem);
}
.theme-toggler span{
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 2rem 2.5rem;
    box-shadow: 0 0 0 .5rem rgba(255, 255, 255, .2),
                0 1rem 2rem rgba(0, 0, 0, .2);     ;
}